In [15]:
import time
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
import os
import parameters as pm
from sklearn.model_selection import train_test_split, KFold, GridSearchCV
from sklearn.multioutput import MultiOutputRegressor
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor
from sklearn.neural_network import MLPRegressor

import joblib

import warnings
warnings.filterwarnings('ignore')

In [22]:
df=pd.read_excel('Datasets.xlsx')

In [23]:
df.columns

Index(['a', 'b', 'af', 'bf', 'as', 'bs', 'afs', 'bfs', 'gamma'], dtype='object')

In [24]:
df.columns=['a','b','af','bf','as','bs','afs','bfs','gamma']

In [25]:
df.describe()

,a,b,af,bf,as,bs,afs,bfs,gamma
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,5.025111,15.049700,15.049622,15.049656,5.024995,15.050389,5.024978,15.050165,0.250509
std,2.873815,8.635828,8.635573,8.636252,2.873757,8.635693,2.873618,8.635362,0.144117
min,0.059031,0.118213,0.128991,0.129856,0.050757,0.118335,0.057302,0.125278,0.001490
25%,2.543149,7.590680,7.591241,7.591854,2.539712,7.568985,2.540751,7.584060,0.126057
50%,5.023142,15.040329,15.038783,15.057586,5.025609,15.059490,5.024635,15.049144,0.250365
75%,7.509415,22.524042,22.512472,22.512893,7.512984,22.516902,7.513614,22.519252,0.375279
max,9.995399,29.986562,29.978380,29.973802,9.998360,29.989239,9.994991,29.990650,0.499537

In [26]:
df.head(5)

,a,b,af,bf,as,bs,afs,bfs,gamma
0,3.225893,18.559327,16.193828,4.065350,4.871501,23.566450,0.973039,15.116654,0.168325
1,9.115387,23.441283,9.970221,20.811160,5.234394,23.190420,5.584789,14.102595,0.453850
2,8.327136,29.461890,8.404946,21.179917,2.012894,9.085634,8.190205,25.399357,0.223038
3,0.826962,22.398697,20.637425,13.384026,5.337620,20.023762,1.991645,11.803443,0.272399
4,4.829658,27.050292,2.515170,26.549146,7.417574,20.432999,9.546309,16.316979,0.370721